body {
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
}

.parallax {
    /* The image used */
    background-image: url("img/background.jpg");
    /* Set a specific height */
    height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

.blockquote {
    color: white;
}

.navbar-dark .navbar-nav .nav-link.smooth {
    color: #ffffff;
}

.navbar-dark .navbar-nav .active>.nav-link.smooth {
    /* color: #2E382E;
    color: #404E4D; */
    color: #C3423F;
}

.fondoP {
    height: 200px;
    background-size: cover;
}

h2 {
    font-size: xx-large;
}

h4 {
    padding: 1% 0;
    text-align: center;
    position: relative;
    background-color: rgba(240, 240, 240, 0.8);
    font-size: x-large;
    color: rgb(0, 0, 220);
}

h4 a {
    text-decoration: none;
}

.img-thumbnail {
    max-width: 100px;
    border-radius: 3%;
}

.img-mini {
    max-width: 20%;
}