html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
    margin: 0;
}

.parallax {
    /* The image used */
    background-image: url("img/background.jpg");
    /* Set a specific height */
    height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

.blockquote {
    color: white;
}

.navbar-dark .navbar-nav .nav-link.smooth {
    color: #ffffff;
}

.navbar-dark .navbar-nav .active>.nav-link.smooth {
    /* color: #2E382E;
    color: #404E4D; */
    color: #D9681C;
}

.imagen {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
    background: #7C90A0;
}

h2 {
    font-size: xx-large;
}

h4 {
    padding: 1% 0;
    text-align: center;
    font-size: x-large;
    color: white;
    animation: ease;
    animation-duration: 1s;
}

h4 a {
    text-decoration: none;
}

.fondoP:hover .overlay {
    opacity: 1;
}

.skills div a:after {
    content: '';
    width: 10%;
    height: 2px;
    background: #E8ECED;
    position: relative;
    display: inline-block;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease-out;
}

.skills div a:hover:after {
    width: 100%;
    background: #7C90A0;
}

.skills div a img:hover {
    max-width: 102%;
    margin-top: -5px;
    /* box-shadow: 1px 10px #888888; */
}

.wave-container {
    background: #EEE;
}

.wave-container>svg {
    display: block;
}